main {
    background-color: rgb(221, 235, 224);
}

h4 {
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    color: #000000;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked~nav {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    /* This will space out the child elements */
    align-items: center;
    /* This will vertically center the child elements */
    padding: 0 10px;
}

/*Small-range screens*/

@media (max-width: 480px) {
    .logo_image {
        width: 200px;
    }

    .explore_together_image {
        width: 300px;
    }

    .for_kids_image {
        width: 200px;
    }

    .for_teachers_image {
        width: 200px;
    }

    .for_researchers_image {
        width: 200px;
    }

    label[for="hamburger-menu"] {
        display: block;
        font-size: 30px;
    }

    nav {
        display: none;
    }

    .Explore_together_content,
    .For_kids_content,
    .For_teachers_content,
    .For_researchers_content {
        display: flex;
        align-items: center;
        /* Center items vertically */
        justify-content: flex-start;
        /* Align items horizontally to the start */
    }

    .content_text {
        display: flex;
        flex-direction: column;
        /* Stack items vertically */
        justify-content: flex-start;
        /* Align text to the top */
        margin-left: 20px;
        /* Space between the image and text block */
    }

    .Explore_together_content h1,
    .For_kids_content h1,
    .For_teachers_content h1,
    .For_researchers_content h1 {
        font-size: 24px;
        /* Adjust the size as needed */
    }

    .Explore_together_content h2,
    .For_kids_content h2,
    .For_teachers_content h2,
    .For_researchers_content h2 {
        font-size: 18px;
        /* Adjust the size as needed */
    }

    .Explore_together_content h4,
    .For_kids_content h4,
    .For_teachers_content h4,
    .For_researchers_content h4 {
        font-size: 16px;
        /* Adjust the size as needed */
    }

}


/*Mid-range screens*/

@media only screen and (min-width: 481px) and (max-width: 800px) {
    label[for="hamburger-menu"] {
        display: none;
    }
}

/*Large-range screens*/

@media (min-width: 800px) {
    label[for="hamburger-menu"] {
        display: none;
    }

    nav {
        display: block;
    }
}