main {
    background-color: rgb(221, 235, 224);
}

h4 {
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    color: #000000;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked~nav {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

footer {
    text-align: center;
}

/*Small-range screens*/

@media (max-width: 480px) {
    /*Index-home-Explore Together*/

    img {
        margin: 15px;
    }

    .logo_image {
        width: 200px;
    }

    .explore_together_image {
        width: 400px;
        border-radius: 15px;
    }

    .for_kids_image {
        width: 200px;
        border-radius: 15px;
    }

    .for_teachers_image {
        width: 200px;
        border-radius: 15px;
    }

    .for_researchers_image {
        width: 200px;
        border-radius: 15px;
    }

    label[for="hamburger-menu"] {
        display: block;
        font-size: 30px;
    }

    nav {
        display: none;
    }

    nav ul li {
        margin-bottom: 8px;
        list-style: none;
        font-size: 17px;
        font-weight: bold;
    }


    .Explore_together_content h1,
    .For_kids_content h1,
    .For_teachers_content h1,
    .For_researchers_content h1 {
        font-size: 24px;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 2px;
    }

    .Explore_together_content h2,
    .For_kids_content h2,
    .For_teachers_content h2,
    .For_researchers_content h2 {
        font-size: 18px;
        padding: 30px;
    }

    .Explore_together_content h4,
    .For_kids_content h4,
    .For_teachers_content h4,
    .For_researchers_content h4 {
        font-size: 16px;
        padding-left: 20px;
    }

    .For_researchers_content h4 {
        font-size: 16px;
        padding-bottom: 30px;
    }

    /*Exhibition Spaces*/





}


/*Mid-range screens*/

@media only screen and (min-width: 481px) and (max-width: 800px) {
    label[for="hamburger-menu"] {
        display: none;
    }
}

/*Large-range screens*/

@media (min-width: 800px) {
    label[for="hamburger-menu"] {
        display: none;
    }

    nav {
        display: block;
    }
}