main {
    background-color: rgb(221, 235, 224);
}

h4 {
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    color: #000000;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked~nav {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    /* This will space out the child elements */
    align-items: center;
    /* This will vertically center the child elements */
    padding: 0 10px;
}

/*Small-range screens*/

@media (max-width: 480px) {
    .logo_image {
        width: 200px;
    }

    .explore_together_image {
        width: 300px;
    }

    .for_kids_image {
        width: 200px;
    }

    .for_teachers_image {
        width: 200px;
    }

    .for_researchers_image {
        width: 200px;
    }

    label[for="hamburger-menu"] {
        display: block;
        font-size: 30px;
    }

    nav {
        display: none;
    }
}

/*Mid-range screens*/

@media only screen and (min-width: 481px) and (max-width: 800px) {
    label[for="hamburger-menu"] {
        display: none;
    }

    nav {
        display: block;
    }
}


/*Large-range screens*/

@media (min-width: 800px) {
    label[for="hamburger-menu"] {
        display: none;
    }

    nav {
        display: block;
    }
}